.set>* {
  display: inline-block;
  vertical-align: middle;
}

.diagram ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.diagram ul li {
  /* margin: 2em; */
}

.atom {
  border-radius: 50%;
  transform-style: preserve-3d;
  color: black;
}

.atom:before {
  display: block;
  border-radius: 50%;
  /* background: radial-gradient(circle at 25% 25%, #ffffff, rgba(255, 255, 255, 0)); */
  background: radial-gradient(circle at 0% 0%, #ffffff, rgba(255, 255, 255, 0));
  content: '';
}

.molecules {
  transform: translateY(-15px);
}

.molecules .atom:before {
  animation: rotr 4s linear infinite;
  animation-play-state: paused;
}

.atom:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.atom[class*=O]:before {
  width: 3.55em;
  height: 3.55em;
  background-color: #56110c;
}

.atoms .atom[class*=O]:after {
  font: 700 1.25em Arial Narrow;
  line-height: 2.84em;
  content: "O";
}


.atom[class*=C]:before {
  width: 3.1em;
  height: 3.1em;
  background-color: #292929;
}

.atoms .atom[class*=C]:after {
  font: 700 1.25em Arial Narrow;
  line-height: 2.48em;
  content: "C";
}

.molecule-wrap {
  perspective: 32em;
  transform: scale(0.7);
}

.molecule {
  min-width: 10em;
  min-height: 10em;
  position: relative;
  transform-style: preserve-3d;
  animation: rot 4s linear infinite;
  animation-play-state: paused;
  pointer-events: none;
}

.molecule .atom {
  position: absolute;
  left: 50%;
  top: 50%;
}

.molecule .atom[class*=O] {
  margin: -1.775em;
}

.molecule .atom[class*=H] {
  margin: -0.8em;
}

.molecule .atom[class*=C] {
  margin: -1.55em;
}

.molecule .atom[class*=N] {
  margin: -1.575em;
}

.molecule .atom[class*=Cl] {
  margin: -1.85em;
}

.molecule-wrap:hover .molecule,
.molecule-wrap:hover .molecule .atom:before {
  animation-play-state: running;
}

@keyframes rot {
  to {
    transform: rotate(360deg) rotateY(360deg) rotateX(360deg);
  }
}

@keyframes rotr {
  to {
    transform: rotateX(-360deg) rotateY(-360deg) rotate(-360deg);
  }
}

.H2O .O {
  transform: translateZ(-1em);
}

.H2O .H:nth-of-type(1) {
  transform: translateZ(-1em) rotateY(-52.225deg) translateZ(2.575em) rotateY(52.225deg);
}

.H2O .H:nth-of-type(2) {
  transform: translateZ(-1em) rotateY(52.225deg) translateZ(2.575em) rotateY(-52.225deg);
}

.CO2 {
  /* linear molecule */
}

.CO2 .C {
  transform: translateZ(-1em);
}

.CO2 .O:nth-of-type(2) {
  transform: translateZ(-1em) translateX(-3.325em);
}

.CO2 .O:nth-of-type(3) {
  transform: translateZ(-1em) translateX(3.325em);
}

.cloud {
  position: absolute;
  background: #d5daf8;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#85a0d9), to(#d5daf8));
  background-image: -webkit-linear-gradient(bottom, #85a0d9 0%, #d5daf8 100%);
  background-image: -o-linear-gradient(bottom, #85a0d9 0%, #d5daf8 100%);
  background-image: linear-gradient(to top, #85a0d9 0%, #d5daf8 100%);
  border-radius: 3rem;
}

.cloud:before,
.cloud:after {
  position: absolute;
  content: "";
  z-index: -1;
  background: #d5daf8;
  border-radius: 100%;
}

.cloud.big {
  top: 2.5rem;
  width: 12rem;
  height: 3.5rem;
}

.cloud.big:before {
  top: -1.5rem;
  left: 1.5rem;
  width: 4rem;
  height: 3.5rem;
}

.cloud.big:after {
  top: -2.5rem;
  left: 4.5rem;
  width: 6rem;
  height: 4.5rem;
}


.rain {
  position: absolute;
  z-index: -1;
  top: 3rem;
  width: 0.2rem;
  height: 1rem;
  border-radius: 100%;
  -webkit-animation: rainFall 0.8s infinite both ease-in;
  animation: rainFall 0.8s infinite both ease-in;
}

.rain:nth-child(1) {
  left: 6rem;
  background: #89ade7;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.rain:nth-child(2) {
  left: 8rem;
  background: #89ade7;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.rain:nth-child(3) {
  left: 2rem;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  background: #89ade7;
}

.rain:nth-child(4) {
  left: 5rem;
  background: rgba(137, 173, 231, 0.8);
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.rain:nth-child(5) {
  left: 8rem;
  background: rgba(137, 173, 231, 0.8);
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.rain:nth-child(6) {
  left: 5rem;
  background: rgba(137, 173, 231, 0.5);
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

.rain:nth-child(7) {
  left: 3rem;
  background: #89ade7;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.rain:nth-child(8) {
  left: 8rem;
  background: #89ade7;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

.rain:nth-child(9) {
  left: 10rem;
  background: rgba(137, 173, 231, 0.5);
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.rain:nth-child(10) {
  left: 6rem;
  background: #89ade7;
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}

.rain:nth-child(11) {
  left: 2rem;
  background: rgba(137, 173, 231, 0.8);
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.rain:nth-child(12) {
  left: 7rem;
  background: #89ade7;
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

.rain:nth-child(13) {
  left: 5rem;
  background: rgba(137, 173, 231, 0.5);
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.rain:nth-child(14) {
  left: 3rem;
  background: rgba(137, 173, 231, 0.5);
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.rain:nth-child(15) {
  left: 9rem;
  background: rgba(137, 173, 231, 0.5);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.thunder-time {
  position: absolute;
  z-index: -1;
  top: 5.125rem;
  left: 3.5rem;
}

.thunder-time .thunder {
  color: transparent;
  -webkit-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  transform: skew(-25deg);
  -webkit-animation: bolt 3s 1s linear infinite;
  animation: bolt 3s 1s linear infinite;
}

.thunder-time .thunder span {
  font-size: 7.5rem;
}

@-webkit-keyframes bolt {
  0% {
    color: transparent;
  }

  10% {
    color: #fbdb2a;
    text-shadow: 0 0.2rem 0.4rem rgba(255, 255, 255, 0.25);
  }

  15% {
    color: #fbdb2a;
    text-shadow: none;
  }

  50%,
  100% {
    color: transparent;
  }
}

@keyframes bolt {
  0% {
    color: transparent;
  }

  10% {
    color: #fbdb2a;
    text-shadow: 0 0.2rem 0.4rem rgba(255, 255, 255, 0.25);
  }

  15% {
    color: #fbdb2a;
    text-shadow: none;
  }

  50%,
  100% {
    color: transparent;
  }
}

@-webkit-keyframes rainFall {
  100% {
    -webkit-transform: translate3d(0, 300px, 0);
    transform: translate3d(0, 300px, 0);
  }
}

@keyframes rainFall {
  100% {
    -webkit-transform: translate3d(0, 300px, 0);
    transform: translate3d(0, 300px, 0);
  }
}

.water-explanation {
  margin-top: 2rem;
  font-size: 24px;
  text-align: center;
}

.water-river-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ocean-container {
  position: relative;
  height: 50px;
  width: 100%;
  max-width: 300px;
  top: 5px;
}

/* waves */
.ocean {
  height: 100%;
  /* change the height of the waves here */
  width: 200%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 30s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 30s -3s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 30s -3s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-50%);
  }
}


#squirrel {
  margin-top: -40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.25);
}

#squirrel .shadow {
  background: rgba(0, 0, 0, 0.1);
  width: 140px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 87px;
  left: -78px;
  z-index: 1;
}

#squirrel>div {
  background: #b07705;
}

#squirrel .head {
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border-top-right-radius: 4px;
  border: 7px solid #b07705;
  border-top: 0;
  border-right: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: rotate(55deg);
}

#squirrel .head:before {
  content: '';
  display: block;
  width: 15px;
  height: 10px;
  border-radius: 40%;
  border-left: 3px solid #b07705;
  position: absolute;
  top: 0px;
  right: 25px;
}

#squirrel .head:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-left: 3px solid #b07705;
  position: absolute;
  top: 0px;
  right: 26px;
  transform: rotate(20deg);
}

#squirrel .eye {
  width: 14px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  left: 2px;
  z-index: 10;
}

#squirrel .eye:before {
  content: '';
  display: block;
  background: #000;
  width: 10px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  right: 1px;
}

#squirrel .eye:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: -7px;
  right: -1px;
  background: #b07705;
}

#squirrel .ear {
  border-radius: 50%;
  border-top-left-radius: 4px;
  width: 24px;
  height: 22px;
  position: absolute;
  top: -27px;
  left: -20px;
  transform: rotate(35deg);
  z-index: 3;
}

#squirrel .ear:after {
  content: '';
  display: block;
  border-radius: 50%;
  border-top-left-radius: 2px;
  width: 12px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #dbc18c;
}

#squirrel .ear.bgear {
  top: -26px;
  left: -16px;
  z-index: 1;
  background: #7a5306;
  transform: rotate(46deg);
}

#squirrel .ear.bgear:after {
  display: none;
}

#squirrel .body {
  width: 40px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -30px;
  z-index: 2;
}

#squirrel .body:after {
  content: '';
  display: block;
  width: 50px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -5px;
  background: #b07705;
}

#squirrel .arm {
  width: 30px;
  height: 14px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  top: 33px;
  left: 3px;
  z-index: 15;
  transform: rotate(-12deg);
}

#squirrel .arm.bgarm {
  z-index: 1;
  background: #7a5306;
  top: 30px;
}

#squirrel .hindleg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 48px;
  z-index: 10;
  transform: rotate(3deg);
}

#squirrel .hindleg:after {
  content: '';
  display: block;
  background: #b07705;
  width: 55px;
  height: 15px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0;
  position: absolute;
  top: 38px;
  left: 12px;
  z-index: 5;
}

#squirrel .hindleg.bghindleg {
  z-index: 2;
}

#squirrel .hindleg.bghindleg:after {
  z-index: 2;
  background: #7a5306;
  top: 34px;
}

#squirrel .tail {
  position: absolute;
  top: 80px;
  left: -36px;
  z-index: 2;
  width: 30px;
  height: 10px;
  background: transparent;
  transform: rotate(-24deg);
}

#squirrel .tail>div {
  background: #b07705;
}

#squirrel .tail .main {
  border-right: 38px solid #b07705;
  position: absolute;
  z-index: 2;
  top: -125px;
  left: -75px;
  width: 68px;
  height: 105px;
  border-radius: 50%;
  background: transparent;
  transform: rotate(-14deg);
}

#squirrel .tail .main:after {
  content: '';
  display: block;
  border-right: 8px solid #b07705;
  width: 20px;
  height: 30px;
  border-radius: 40%;
  z-index: 2;
  position: absolute;
  top: 77px;
  left: 41px;
  transform: rotate(27deg);
}

#squirrel .tail .butt {
  border-left: 30px solid #b07705;
  position: absolute;
  top: -47px;
  left: -12px;
  width: 55px;
  height: 70px;
  z-index: 2;
  border-radius: 50%;
  background: transparent;
  transform: rotate(-10deg);
}

#squirrel .tail .butt:after {
  content: '';
  display: block;
  background: #b07705;
  position: absolute;
  top: 13px;
  left: -16px;
  width: 40px;
  height: 40px;
  z-index: 2;
  border-radius: 50%;
}

#squirrel .tail .end {
  width: 42px;
  height: 44px;
  border-radius: 10px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  z-index: 1;
  top: -126px;
  left: -44px;
}

.wildlife-container {
  position: relative;
}

.squirrel-container {
  position: absolute;
  top: 55px;
  left: 120px;
  transform-origin: center;
  transform: rotate(-30deg);

}


.squirrel-container-2 {
  position: absolute;
  top: 160px;
  left: 200px;
  transform: rotate(180deg);
  transform-origin: center;
}

.scale-container {
  position: absolute;
  transform: scale(0.3);
  width: 100%;
  top: 15px;
}

#molecule-scale {
  /* transform: scale(0.4); */
}

#clock-hand {
  transform: translateY(-45px);
}

.molecule-weight-group {}

.weight-scale-num {
  font-size: 1.75rem;
}


.oxygen-tank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.5) translateY(-75px);
}

.oxygen-tank-nozzle {
  height: 20px;
  width: 15px;
  background: gold;
  text-align: center;
  position: relative;
}

.oxygen-tank-nozzle-left {
  position: absolute;
  bottom: 5px;
  background: gold;
  height: 5px;
  width: 10px;
  left: -6px;
}

.oxygen-tank-nozzle-right {
  position: absolute;
  top: 5px;
  background: gold;
  height: 5px;
  width: 10px;
  right: -10px;
}

.oxygen-tank-top {
  background: #4d6f48;
  height: 50px;
  width: 75px;
  border-bottom: 1px solid #4d6f4800;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

}

.oxygen-tank-base {
  height: 200px;
  width: 75px;
  background: #4d6f48;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}




@media only screen and (max-width: 768px) {
  .water-explanation {
    font-size: 0.85rem;
  }

  .cloud {
    left: 40%;
    transform: scale(0.8) translateX(-50%);
  }

  .rain {
    transform: translateX(-80px);
  }
}